A.enlace_home:link {
	color:#003366;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}

A.enlace_home:active {
	color:#003366;
	text-decoration:none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold
}
				  
A.enlace_home:visited {
	color:#003366;
	text-decoration:none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: bold
}

A.enlace_home:hover{
	color:#CC0000; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px; 
	font-weight: bold; 
	text-decoration: underline
}

A.enlace_local:link {
	color:#003366;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal
}

A.enlace_local:active {
	color:#003366;
	text-decoration:none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal
}
				  
A.enlace_local:visited {
	color:#003366;
	text-decoration:none; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal
}

A.enlace_local:hover{
	color:#CC0000; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px; 
	font-weight: normal; 
	text-decoration: underline
}

A.enlace_seccion:link {
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.enlace_seccion:active {
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
				  
A.enlace_seccion:visited {
	color:#666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.enlace_seccion:hover{
	color:#003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.cajetinesFormularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	background-color: #f7f7ec;
	border: 1px solid #CCCCCC;
}
.botonesFormularios {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #CCCCCC;
}


.tituloSeccion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
}
.tituloPagina {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.subtituloPagina {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.piePaginaTabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.textoNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	line-height: 18px;
	text-align: justify;

}
.tituloMenuLocal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
}
.textoTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	background-color: #f7f7ec;
}
.cabeceraTabla {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #CC9900;
}
.textoFormularios {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	background-color: #f7f7f7;
}
.cabeceraFormularios {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #9999CC;
}


.login
{
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 300px;
}
